{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Resposta enviada</title>

    <link rel="stylesheet" href="{% static 'pesquisa/css/style.css' %}">
</head>

<body>

    <main class="container">

        <h1>Resposta enviada!</h1>

        <p class="introducao">
            Obrigado por participar da pesquisa.
        </p>

        <a href="/" class="botao-link">
            Responder novamente
        </a>

    </main>

</body>
</html>